/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}


header {
    width: 80%;
    margin: 30px;
    display: flex;
    flex-direction: row;
    float: left; 
    justify-content: center;
}


nav a {
    color: black;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 50px;
  }

.banner {
    width: 80%;
    justify-content: center;
    display: block;
    margin: 30px;
}
.about-page-container {
    width: 80%;
	display: flex;
	align-items: flex-start;
	flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 40px;
}
.about-page-container h1 {
    text-align: left;
}
.about-page-container p {
    width: 75%
    margin: 40px;
    text-align: left;
}
.container about-page {
    width: 80%
    justify-content: center;
}

.main-content-container {
	
	width: 80%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
    border-top: 1px dashed black;
    border-top-width: 70%;
	margin-bottom: 30px;
	margin-left: 30px;
    margin-top: 15px;
    padding-top: 30px;
    padding-bottom: 20px;

  }

  .main-content-container .item {
    width: 45%;
    border-bottom: 1px dashed black;
    margin-bottom: 30px;
    /* padding: 0 1%; */
}
.main-content-container .item img {
    width: 100%;
    margin-bottom: 15px;
}

.txt-container {
    width: 100%;

}

.item button {
	width: 120px;
	height: 30px;
    border-radius: 5px;
    border: 2px solid black;
    background: white;
    color: black;
    margin-bottom: 15px;
    margin-top: 15px;
	/* margin: 25px; */
  }



.about-bottom-container {
    width: 80%;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 40px;
    margin-bottom: 40px;
}



footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}

footer nav a {
    color: white;
    text-decoration: none;
}
